body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: var(--text-color-default);
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

input,
textarea {
  outline: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

body {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.03em;
  color: var(--text-color-default);
  margin: 0;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin-top: 0px;
  margin-bottom: 0px;
  padding-left: 0px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

input,
textarea {
  outline: none;
}

.brand__section, .team__section-title, .images__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.modal__form, #name,
#phone-number,
#form-email,
#comments, .modal__button, .portfolio__item:hover, .portfolio__item:focus, .portfolio__button, .newsletter__button, .findus__icon--link, .footer__contact, .brand__icon, .hero__button, .nav__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter__title, .findus__title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 20px;
  position: relative;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.brand__section, .team__section-title, .images__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.modal__form, #name,
#phone-number,
#form-email,
#comments, .modal__button, .portfolio__item:hover, .portfolio__item:focus, .portfolio__button, .newsletter__button, .findus__icon--link, .footer__contact, .brand__icon, .hero__button, .nav__link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter__title, .findus__title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 20px;
  position: relative;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.header__section {
  border: 1px solid #ECECEC;
}

.header__container {
  display: flex;
  align-items: center;
}

.logo--right {
  margin-right: 100px;
}

.logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1923076923;
  letter-spacing: 0.03em;
  color: #2196F3;
}

.nav__link {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  display: block;
  color: #212121;
}
.nav__link:hover, .nav__linkfocus {
  color: #2196F3;
}

.nav__link--current {
  position: relative;
  color: #2196F3;
}
.nav__link--current::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 4px;
  background-color: #2196F3;
  left: 0px;
  bottom: 0px;
  border-radius: 2px 2px;
}

.nav {
  display: flex;
  align-items: center;
  margin-top: 0;
  margin-bottom: 0;
}

.nav__item:hover {
  color: #2196F3;
  cursor: pointer;
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.contacts {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contacts__item {
  display: flex;
  align-items: center;
}
.contacts__item:not(:last-child) {
  margin-right: 50px;
}

.contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts__link {
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  align-items: center;
  margin-left: auto;
  padding-top: 32px;
  padding-bottom: 32px;
}
.contacts__link:hover {
  color: #2196F3;
  cursor: pointer;
}

.brand__section, .team__section-title, .images__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.modal__form, #name,
#phone-number,
#form-email,
#comments, .modal__button, .portfolio__item:hover, .portfolio__item:focus, .portfolio__button, .newsletter__button, .findus__icon--link, .footer__contact, .brand__icon, .nav__link, .hero__button {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter__title, .findus__title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 20px;
  position: relative;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.hero__section {
  background-color: #2F303A;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../../images/webstudio/studio-large-image.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero__container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.hero___title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.3636363636;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 30px;
  width: 696px;
}

.hero__button {
  font-family: "Roboto";
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  background-color: #2196F3;
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  padding: 10px 20px;
}
.hero__button:hover, .hero__button:focus {
  color: green;
  background-color: darkblue;
  cursor: pointer;
}

.brand__section, .team__section-title, .images__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.modal__form, #name,
#phone-number,
#form-email,
#comments, .modal__button, .portfolio__item:hover, .portfolio__item:focus, .portfolio__button, .newsletter__button, .findus__icon--link, .footer__contact, .brand__icon, .nav__link, .hero__button {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter__title, .findus__title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 20px;
  position: relative;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.features__section {
  padding-top: 58px;
}

.features__list {
  display: flex;
  justify-content: center;
}

.features__title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
}

.features__description {
  width: 270px;
}

.features__text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  color: #757575;
}

.features__item:not(:last-child) {
  margin-right: 30px;
}

.features__icons {
  border: none;
  border-radius: 4px;
  background-color: #F5F4FA;
  padding: 25px 102px;
  margin-bottom: 30px;
  max-width: 270px;
}

.brand__section, .team__section-title, .images__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.modal__form, #name,
#phone-number,
#form-email,
#comments, .modal__button, .portfolio__item:hover, .portfolio__item:focus, .portfolio__button, .newsletter__button, .findus__icon--link, .footer__contact, .brand__icon, .nav__link, .hero__button {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter__title, .findus__title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 20px;
  position: relative;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.images__section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.images__list {
  display: flex;
  justify-content: center;
}

.images__overlay {
  position: absolute;
  display: block;
  width: 100%;
  padding: 27px;
  bottom: 0;
  left: 0;
  background-color: rgba(47, 48, 58, 0.8);
  color: #FFFFFF;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.images__items {
  position: relative;
}
.images__items:not(:last-child) {
  margin-right: 30px;
}

.brand__section, .images__title, .team__section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.modal__form, #name,
#phone-number,
#form-email,
#comments, .modal__button, .portfolio__item:hover, .portfolio__item:focus, .portfolio__button, .newsletter__button, .findus__icon--link, .footer__contact, .brand__icon, .nav__link, .hero__button {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter__title, .findus__title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 20px;
  position: relative;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.team__section {
  background-color: #F5F4FA;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team__name {
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
}

.team__position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.1875;
  text-align: center;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
  margin-bottom: 16px;
}

.team__images {
  display: flex;
  justify-content: center;
}

.team__nametag {
  background-color: #FFFFFF;
  padding-top: 30px;
  padding-bottom: 30px;
}

.team__item {
  width: 270px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
.team__item:not(:last-child) {
  margin-right: 30px;
}

.social__list {
  display: flex;
  justify-content: center;
  margin-top: 16px;
}

.social__item:not(:last-child) {
  margin-right: 10px;
}

.social__link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: #AFB1B8;
  cursor: pointer;
}
.social__link:hover, .social__link:focus {
  fill: #FFFFFF;
  background-color: #2196F3;
  color: #FFFFFF;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.images__title, .team__section-title, .brand__section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.modal__form, #name,
#phone-number,
#form-email,
#comments, .modal__button, .portfolio__item:hover, .portfolio__item:focus, .portfolio__button, .newsletter__button, .findus__icon--link, .footer__contact, .nav__link, .hero__button, .brand__icon {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.newsletter__title, .findus__title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 20px;
  position: relative;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.brand__section {
  padding-top: 94px;
}

.brand__title--margin {
  margin-bottom: 50px;
}

.brand__list {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 94px;
}

.brand__icon {
  fill: #AFB1B8;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  padding: 16px 32px;
}
.brand__icon:hover {
  fill: #2196F3;
  border-color: #2196F3;
  cursor: pointer;
}
.brand__icon:not(:last-child) {
  margin-right: 30px;
}

.images__title, .team__section-title, .brand__section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.modal__form, #name,
#phone-number,
#form-email,
#comments, .modal__button, .portfolio__item:hover, .portfolio__item:focus, .portfolio__button, .nav__link, .hero__button, .brand__icon, .footer__contact, .findus__icon--link, .newsletter__button {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.findus__title, .newsletter__title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 20px;
  position: relative;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.footer__section {
  background-color: #2F303A;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__section--flex {
  display: flex;
}

.footer__address {
  font-style: normal;
  width: 231px;
}

.footer__address--link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  color: #FFFFFF;
  margin-bottom: 2px;
  display: block;
}

.footer__contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7142857143;
  color: #FFFFFF;
  opacity: 0.6;
}

.footer__list:not(:last-child) {
  margin-bottom: 2px;
  display: block;
}

.footer__contact--hover:focus,
.footer__contact--hover:hover {
  color: #FFFFFF;
  cursor: pointer;
  opacity: 1;
}

.footer__logo {
  display: block;
  margin-bottom: 9px;
}

.findus {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 70px;
  margin-top: 15px;
}

.findus__list {
  display: flex;
}

.findus__item {
  cursor: pointer;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  height: 44px;
  width: 44px;
}
.findus__item:not(:last-child) {
  margin-right: 10px;
}

.findus__icon--link {
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  fill: #FFFFFF;
  cursor: pointer;
}
.findus__icon--link:hover {
  background-color: #2196F3;
}

.newsletter {
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-left: auto;
}

.newsletter__form {
  display: flex;
  flex-direction: row;
}

.newsletter__email {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 400;
  line-height: 0.8;
  letter-spacing: 0.03em;
  color: #FFFFFF;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  padding: 15px 15px 16px;
  min-width: 359px;
}

.newsletter__button {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 700;
  line-height: 0.5333333333;
  letter-spacing: 0.06em;
  text-align: center;
  padding: 10px 82px 10px 48px;
  background-color: #2196F3;
  color: #FFFFFF;
  margin-left: 12px;
  border: transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  max-width: 200px;
  display: flex;
  align-items: center;
}
.newsletter__button:hover, .newsletter__button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
  color: green;
  background-color: darkblue;
  cursor: pointer;
}

.newsletter__button--icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

.newsletter__subscribe {
  fill: #FFFFFF;
}

.images__title, .team__section-title, .brand__section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.modal__form, #name,
#phone-number,
#form-email,
#comments, .modal__button, .nav__link, .hero__button, .brand__icon, .footer__contact, .findus__icon--link, .newsletter__button, .portfolio__button, .portfolio__item:hover, .portfolio__item:focus {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.findus__title, .newsletter__title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 20px;
  position: relative;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.portfolio {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio__filter {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio__button {
  font-family: "roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.875;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  background-color: #F5F4FA;
  cursor: pointer;
  border-radius: 4px;
  border: none;
  padding: 6px 26px;
}
.portfolio__button:hover, .portfolio__button:focus {
  color: #FFFFFF;
  background-color: #2196F3;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.portfolio__button--margin:not(:last-child) {
  margin-right: 8px;
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}

.portfolio__item {
  flex-basis: calc(33.3333333333% - 30px);
  margin-left: 30px;
  margin-top: 30px;
  cursor: pointer;
}
.portfolio__item:hover, .portfolio__item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.card {
  padding: 20px 24px;
  background: #FFFFFF;
  border-left: 1px solid #FFFFFF;
  border-bottom: 1px solid #FFFFFF;
  border-right: 1px solid #FFFFFF;
}

.card__title {
  font-weight: 700;
  font-size: 18px;
  line-height: 1.8;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.card__description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: #757575;
}

.portfolio__item--position {
  position: relative;
}
.portfolio__item--position:hover .overlay__style {
  transform: translatey(0);
}

.overlay {
  position: relative;
  overflow: hidden;
}

.overlay__style {
  position: absolute;
  display: block;
  padding: 63px 24px;
  background-color: #2196F3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay__text {
  font-family: Roboto;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 0.03em;
  text-align: left;
  color: #FFFFFF;
}

.images__title, .team__section-title, .brand__section {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1666666667;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 30px;
}

.nav__link, .hero__button, .brand__icon, .footer__contact, .findus__icon--link, .newsletter__button, .portfolio__button, .portfolio__item:hover, .portfolio__item:focus, .modal__button, #name,
#phone-number,
#form-email,
#comments, .modal__form {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.findus__title, .newsletter__title {
  color: #FFFFFF;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1428571429;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-bottom: 20px;
  position: relative;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  left: 0px;
  top: 0px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms, cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms, cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  height: 581px;
  width: 528px;
  background-color: #FFFFFF;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal__button {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  margin-top: 10px;
  margin-left: 490px;
  border-radius: 50%;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.modal__button:hover, .modal__button:focus {
  fill: #2196F3;
  cursor: pointer;
  box-shadow: 0px 0px 15px var(--text-color-secondary);
}

.modal__text {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  color: #757575;
  margin-left: 40px;
}

.modal__icon {
  position: relative;
  display: flex;
}

.modal__svg {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(-50%);
  margin-left: 50px;
  margin-top: 25px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

#name,
#phone-number,
#form-email,
#comments {
  min-width: 448px;
  margin-left: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 30px;
  cursor: pointer;
  margin-top: 4px;
  height: 40px;
  color: #757575;
}

#name:hover,
#phone-number:hover,
#form-email:hover,
#comments:hover #name:focus,
#phone-number:focus,
#form-email:focus,
#comments:focus,
.modal__text:hover,
.modal__text:focus {
  color: #2196F3;
  border: 1px solid #2196F3;
}

#comments {
  font-family: Roboto;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1666666667;
  letter-spacing: 0.01em;
  text-align: left;
  height: 120px;
  padding-left: 10px;
  margin-bottom: 0;
}

.modal__form {
  position: absolute;
  margin-top: 60px;
  left: 0;
  top: 0;
}

.modal__title {
  margin: 40px 40px 10px 40px;
  max-width: 448px;
  font-family: Roboto;
  font-weight: 700;
  line-height: 1.15;
  font-size: 20px;
  letter-spacing: 0.03em;
  text-align: center;
}

.modal__form--hover:hover,
.modal__form--hover:focus {
  cursor: pointer;
  fill: #2196F3;
}

.modal__icon {
  margin-right: 9px;
  display: block;
}

.input__button {
  font-family: Roboto;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  text-align: center;
  color: #FFFFFF;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: 1px solid #2196F3;
  border-radius: 4px;
  padding: 10px 55px;
  margin-left: 164px;
  margin-bottom: 40px;
  width: 200px;
}
.input__button:hover, .input__button:focus {
  cursor: pointer;
  box-shadow: 0px 0px 15px #757575;
}
.input__button:active {
  box-shadow: none;
}

.input {
  visibility: hidden;
}

.input__terms {
  display: flex;
  cursor: pointer;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.7142857143;
  letter-spacing: 0.03em;
  color: #757575;
  display: flex;
  cursor: pointer;
}

.input__check {
  width: 15px;
  height: 15px;
  border: 1px solid #212121;
  border-radius: 2px;
  margin-right: 8px;
  margin-top: 5px;
  margin-left: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.input__check--margin {
  max-width: 400px;
  margin-bottom: 10px;
}

.icon-check {
  fill: #FFFFFF;
}

.input:checked + .input__terms > .input__check {
  background-color: #2196F3;
  border: none;
}/*# sourceMappingURL=main.css.map */