
    $text-color-default: #212121;
    $highlight-color: #2196F3;
    $bg-color: #2F303A;
    $text-color-secondary: #757575;
    $button-color: #F5F4FA;
    $white-color: #FFFFFF;
    $white-border:  #ECECEC;
    $svg-color: #AFB1B8;
    $footer-svg: rgba(255, 255, 255, 0.1);
    $card-gap: 30px;
    $transition-duration: 250ms;
    $transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
