@use '../utilities/_vars';
@use '../components/_comp';

.hero__section {
    background-color: vars.$bg-color;
    padding-top: 200px;
    padding-bottom: 200px;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url("../images/webstudio/studio-large-image.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

}

.hero__container {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.hero___title {
    font-weight: 900;
    font-size: 44px;
    line-height: calc(60/44);
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: vars.$white-color;
    margin-bottom: 30px;
    width: 696px;

}


.hero__button {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: calc(30/16);
    text-align: center;
    letter-spacing: 0.06em;
    color: vars.$white-color;
    background-color: vars.$highlight-color;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    padding: 10px 20px;
    @extend %transition;

&:hover,
&:focus {
    color: green;
    background-color: darkblue;
    cursor: pointer;
}
}